    <footer class="site-footer">
	<section class="service-info">
	    <h1 class="footer-heading">파인드코치 서비스는</h1>
	    <p>파인드 코치 서비스는 한국코치협회에서 운영합니다. 한국코치협회는 코치들의 인권 신장과 삶의 질 확대를 위해 노력하며 필요한 사업들을 전개해나갑니다.</p>
	</section>
	
	<section class="service-list">
	    <h1>서비스</h1>
	    <ul class="service-list">
		<li>코칭 알기</li>
		<li>코칭 받기</li>
		<li>코치 되기</li>
	    </ul>
	</section>

	<section class="service-list">
	    <h1>헬프데스크</h1>
	    <ul class="service-list">
		<li>한국 코치협회란</li>
		<li>문의하기</li>
		<li>자주 묻는 질문</li>
		<li>이용약관</li>
	    </ul>
	</section>
    </footer>
