blockquote.testimonial {
    border: 0px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote.testimonial:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote.testimonial:after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-top: 0.4em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    float: right;
    clear: both;
}
.quote-source {
    text-align: right;
}
