blockquote.testimonial {
    margin: 0;
}
.jumbo-quote {
    font-size: 2em;
}
.quote-source {
    text-align: right;
}
.header-image {
    @include cover-image($header-image-height, '/assets/business_coaching.jpg');
}
.site-nav {
    font-size: 1.2em;
}
.site-footer {
    h1 {
	font-size: 1.2em;
    }
}
.filter-list {
    padding: 15px;
    border: 1px solid black;
}
.coach-list {
    .coach-box {
	border: 1px solid black;
	padding: 15px;
	margin-bottom: 15px;
	overflow: auto;
    }
}
.coach-name {
    font-size: 1.3em;
}
.coach-photo {
    float: left;
    padding-right: 15px;
}
