$grid-columns: 14 !default;

.site-header {
    @include outer-container(100%);

    .site-nav {
	@include shift(1);
	@include span-columns(6);
    }
}

.site-footer {
    @include outer-container(100%);

    .service-info {
	@include shift(1);
	@include span-columns(6);
    }

    & > .service-list {
	@include span-columns(2);
	ul {
	    padding: 0;
	    li {
		padding: 0;
	    }
	}
    }
}

.page-content {
    @include outer-container(100%);
    & > section {
	@include row();
    }
    .haeder-image {
	margin-bottom: 50px;
    }
    .coaching-benefit {
	padding: 4rem 0;
    }
    .key-point-3-column {
	@include span-columns(1 of 3);
    }
    .key-point-2-column {
	@include span-columns(1 of 2);
    }
    .full-content {
	margin: 50px 0;
	padding: 80px 0;
    }
}
