@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin cover-image($height, $url) {
    height: $header-image-height;
    background-image: url($url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
