$site-header-footer-width-padding: 5em;
$site-footer-height-padding: 2em;

body {
    margin: 0;
}
.header-wrapper {
    width: 100%;
}
.footer-wrapper {
    width: 100%;
}
.wrapper {
    width: 100%;
}
.site-header {
    @include outer-container();
    .site-nav {
	@include row();
	$header-height-padding: 30px;
	.site-title {
	    @include span-columns(2);
	    padding: $header-height-padding 0;
	}
	.site-nav-menu {
	    @include span-columns(10);
	    text-align: right;
	    margin: 0;
	    padding: $header-height-padding 0;
	    li {
		display: inline-block;
	    }
	}
    }
    .site-nav-header {
    }
    .site-nav-menu {
    }    
    .site-title {
    }
    .site-nav-menu-container {
    }
    ul.site-nav-menu {
    }
}
.site-footer {
    @include outer-container();
    padding-top: $site-footer-height-padding;
    padding-bottom: $site-footer-height-padding;
    .service-info {
	@include span-columns(8);
    }
    & > .service-list {
	@include span-columns(2);
	ul {
	    padding: 0;
	    li {
		padding: 0;
	    }
	}
    }
}
.page-content {
    width: 100%;
    min-height: 500px;
    
    $page-content-section-height-padding: 3em;
    & section.front {
	@include outer-container();
	padding: $page-content-section-height-padding 0;
    }
    section.coaching-key-point {
    }
    section.coaching-benefit {
	padding: 4em 0;
    }
    .key-point-3-column {
	@include span-columns(1 of 3);
    }
    .key-point-cta {
	text-align: right;
    }
    .button-cta {
    }
    .key-point-2-column {
	@include span-columns(1 of 2);
    }

    .filter-list {
	@include span-columns(3);
    }

    .coach-list {
	@include span-columns(9);
    }
}

article.post {
    @include outer-container();
    @include row();
    padding: $site-footer-height-padding 0;
}
